[submodule "code/core"]
	path = code/core
	url = https://github.com/farcrycore/core.git
[submodule "code/projects/barebones"]
	path = code/projects/barebones
	url = https://github.com/farcrycore/project-barebones.git
